<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block data-th-fragment="data">
    <address>
        <div class="row">
            <div class="col-5">Tanggal Permohonan</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${tglPelayanan}"></b></div>
        </div>
        <div class="row">
            <div class="col-5">No. Pelayanan</div>
            <div class="col-1">:</div>
            <div class="col-6"><a href="javascript:void(0)"><b th:text="${pelayanan.noPelayanan}"></b></a></div>
        </div>
        <div class="row">
            <div class="col-5">Jenis Pajak</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${pelayanan.jenisPajak.namaJenisPajak}"></b></div>
        </div>
        <div class="row">
            <div class="col-5">Jenis Pelayanan</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${pelayanan.jenisPelayanan.namaJenisPelayanan}"></b></div>
        </div>
        <th:block th:if="${tglPerkiraanSelesai!=null}">
            <div class="row">
                <div class="col-5">Tanggal Perkiraan Selesai</div>
                <div class="col-1">:</div>
                <div class="col-6">
                    <b th:text="${tglPerkiraanSelesai}"></b>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="btn btn-xs" th:classappend="${jmlhHariTersisa.warna}"><i class="fas fa-clock"></i>&nbsp;&nbsp;<th:block th:text="${jmlhHariTersisa.waktu}"></th:block></a>
                </div>
            </div>
        </th:block>
        <div class="row">
            <div class="col-5">NOP</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${pelayanan.nop}"></b></div>
        </div>
        <div class="row">
            <div class="col-5">Tahun SPPT</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${pelayanan.tahunPajak}"></b></div>
        </div>
        <div class="row">
            <div class="col-5">Keterangan</div>
            <div class="col-1">:</div>
            <div class="col-6"><b th:text="${pelayanan.keterangan}"></b></div>
        </div>
    </address>
</th:block>
</body>
</html>