.table-overflow {
    display: block;
    height: 500px;
    width: 100%;
    overflow-y: auto;
}

.alert_customs_success {
    background: #8af073;
    border: 1px solid #78d663;
}

.alert_customs_info {
    background: #71d8f0;
    border: 1px solid #83d3e6;
}

.alert_customs_danger {
    background: #f5b3b8;
    border: 1px solid #e6858d;
}

a.dg-status {
    width: 8rem !important;
}

.header {
    font-weight: 600 !important;
    font-size: 1.3rem !important;
}