<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<th:block data-th-fragment="data">
    <div class="col-sm-6 invoice-col">
    <h5 style="letter-spacing: 1pt; font-weight: bolder;">DATA OBJEK PAJAK (LAMA)</h5>
    <hr style="height:3px;border-width:0;color: #ffffff;background-color:rgba(0,0,0,.125);">
    <address>
        <span class="text-muted">NOP:</span> <br>
        <span class="text-bold text-danger" th:text="${objekPajakLama.nopLama}"></span><br>
    </address>
    <address>
        <span class="text-muted">NIK:</span> <br>
        <span class="text-bold" th:text="${wajibPajakLama.nikWPLama}"></span><br>
    </address>
    <address>
        <span class="text-muted">Nama:</span> <br>
        <span class="text-bold" th:text="${wajibPajakLama.namaWPLama}"></span><br>
    </address>
    <address>
        <span class="text-muted float-left">Alamat:</span><br>
        <span class="text-bold" th:text="${wajibPajakLama.jalanWPLama
        + ' Rt ' + wajibPajakLama.rtWPLama + ' / '
        + ' Rw ' + wajibPajakLama.rwWPLama + ', '
        + wajibPajakLama.kelurahanWPLama + ', '
        + wajibPajakLama.kecamatanWPLama}"></span>
        <br>
        <span class="text-bold" th:text="${'Kab/Kota. ' + wajibPajakLama.kabupatenWPLama}"></span>
        <br>
    </address>
    <address>
        <span class="text-muted">Luas Tanah:</span> <br>
        <span class="text-bold" th:text="${objekPajakLama.luasTanahLama + ' M2'}"></span><br>
    </address>
    </div>
</th:block>
</body>
</html>