<table border="0" style="border-collapse: collapse; width: 100%; margin-top: 20px;">
            <tr>
                <td style="width: 25%;"></td>
                <td style="width: 15%;"><span>{{ date('d', strtotime($data->tgl_jatuh_tempo_sppt)) }}
                        {{ $bulan_tempo['nama'] }} {{ date('Y', strtotime($data->tgl_jatuh_tempo_sppt)) }}</span></td>
                <td style="width: 15%;" rowspan="8"><img
                        src="{{ public_path() . '/storage/' }}22034dbc-f67b-4c4c-9ca8-844b1263fa41.png"
                        style="width: 70px;"></td>
                <td style="text-align: center;" colspan="2">
                    <span>{{ str_replace('Kabupaten ', '', $pemda->s_nama_kabkota) }}</span>,
                    <span>{{ date('d', strtotime($data->tgl_terbit_sppt)) }}
                        {{ $bulan_tempo['nama'] }} {{ date('Y', strtotime($data->tgl_terbit_sppt)) }}</span>
                </td>
                <td style="width: 5%;"></td>
            </tr>
            <tr>
                <td></td>
                <td>BANK JATENG</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;" colspan="2">BPR BKK BLORA, KANTOR POS, GOPAY,</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;" colspan="2">INDOMARET, BUKALAPAK, TOKOPEDIA</td>
                <td></td>
                <td style="vertical-align: middle" rowspan="4" colspan="2"><img
                        src="{{ public_path() . '/bsre/' }}visual-ttd.png"
                        style="width: 100px;"><span>{{ $pejabat->nm_pegawai }}</span></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;" colspan="2">- Denda 2% per-bulan dikenakan</td>
                {{-- <td style="text-align: center;"><span>{{ $pejabat->nm_pegawai }}</span></td> --}}
            </tr>
            <tr>
                <td style="padding-left: 20px;" colspan="2">- setelah tanggal jatuh tempo</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;" colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table border="0" style="border-collapse: collapse; width: 100%; margin-top: 3px;">
            <tr>
                <td style="padding-left: 20px; width: 50%;">BPR BKK BLORA, KANTOR POS, GOPAY,</td>
                <td></td>
                <td style="width: 4%;"></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;">INDOMARET, BUKALAPAK, TOKOPEDIA</td>
                <td rowspan="2" style="text-align: center;">
                    <img src="{{ public_path() . '/bsre/' }}visual-ttd.png" style="width: 100px;">
                </td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;">- Denda 2% per-bulan dikenakan</td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;">- setelah tanggal jatuh tempo</td>
                <td style="text-align: center;"><span>{{ $pejabat->nm_pegawai }}</span></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left: 20px;"></td>
                <td style="text-align: center;">NIP. <span>{{ $pejabat->nip_baru }}</span></td>
                <td></td>
            </tr>
        </table>