  .small-chat {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 100;
  }
  .small-chat .badge {
    position: absolute;
    top: -3px;
    right: -4px;
  }
  .small-chat .btn {
    position: absolute;
    right: 50px;
    width: 200px;
    bottom: 0px;
    font-size: 11pt;
    background-color: #fff;
    border: 1px solid #e7eaec;
  }

  .small-chat-box {
    position: fixed;
    bottom: 75px;
    right: 75px;
    background: #fff;
    border: 1px solid #e7eaec;
    width: 350px;
    height: 480px;
    border-radius: 4px;
    z-index: 99999;
  }
  .form-chat {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 4px;
  }
  .small-chat-box.ng-small-chat {
    display: block;
  }
  .body-small .small-chat-box {
    bottom: 70px;
    right: 20px;
  }
  .small-chat-box.active {
    display: block;
  }
  .small-chat-box .heading {
    background: #2f4050;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
  }
  .small-chat-box .chat-date {
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
  }
  .small-chat-box .content {
    padding: 15px 15px;
  }
  .small-chat-box .content .author-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 14px;
  }
  .small-chat-box .content > div {
    padding-bottom: 20px;
  }
  .small-chat-box .content .chat-message {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 14px;
    max-width: 80%;
    background: #f3f3f4;
    margin-bottom: 10px;
  }
  .small-chat-box .content .chat-message.active {
    background: #dc3545;
    color: #fff;
  }
  .small-chat-box .content .left {
    text-align: left;
    clear: both;
  }
  .small-chat-box .content .left .chat-message {
    float: left;
  }
  .small-chat-box .content .right {
    text-align: right;
    clear: both;
  }
  .small-chat-box .content .right .chat-message {
    float: right;
  }
  .small-chat-box .form-chat {
    padding: 10px 10px;
  }

  .chat-no-messages{
    background-image: url('/static/images/illustration_chat.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }