<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kepoin || Validasi</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <section>
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{/pelayanan}">Home</a></li>
                                <li class="breadcrumb-item active">Validasi</li>
                            </ol>
                        </section>
                    </div>
                    <div class="col-12">
                        <div class="info-box callout callout-danger" id="background2" style="background: url('/static/images/bgpelayanan.gif') #fff no-repeat center center;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;">
                            <div class="col-sm-12">
                                <div class="" style="float: left;">
                                    <h5 class="">FORM VALIDASI <span></span></h5>
                                    <span class="float">Silahkan untuk melakukan validasi terhadap permohonan yang
                                        sudah diajukan.</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
            <div class="container-fluid">
                <div class="row" th:if="${errorValidasi}">
                    <div class="col-md-12">
                        <p th:text="${errorValidasi}"></p>
                    </div>
                </div>
                <div class="row">
                    <div data-th-replace="pelayanan/common/data-user :: data"></div>
                    <div class="col-12">
                        <div class="invoice p-3 mb-3" style="border-top:3px solid #dc3545;">
                            <div class="row invoice-info">
                                <div class="col-sm-6 invoice-col border-right">
                                    <h5>Data Pemohon</h5>
                                    <hr>
                                    <address>
                                        <strong th:text="${pelayanan.namaPemohon}"></strong> (<small
                                            th:text="${pelayanan.nikPemohon}">-</small>)<br>
                                        <span th:text="${pelayanan.jalanPemohon}"></span>
                                        RT <span th:text="${pelayanan.rtPemohon}"></span>/
                                        RW <span th:text="${pelayanan.rwPemohon}"></span>,
                                        <span th:text="${pelayanan.kelurahanPemohon}"></span>,
                                        <span th:text="${pelayanan.kecamatanPemohon}"></span><br>
                                        <span th:text="${pelayanan.kabupatenPemohon}"></span>,
                                        <span th:text="${pelayanan.kodePosPemohon}"></span><br>
                                        No. HP : <span th:text="${pelayanan.noHpPemohon}"></span><br>
                                        Email : <span th:text="${pelayanan.emailPemohon}"></span><br>
                                    </address>
                                </div>
                                <div class="col-sm-6 invoice-col">
                                    <h5>Data Pelayanan</h5>
                                    <hr>
                                    <div data-th-replace="pelayanan/common/data-pelayanan/__${pelayanan.jenisPelayanan.alias}__ :: data">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <th:block th:switch="${pelayanan.jenisPajak.idKategoriPajak}">
                        <th:block th:case="'2'">
                            <div data-th-replace="pelayanan/common/data-objek/__${pelayanan.jenisPelayanan.alias}__ :: data">
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <div th:unless="${#lists.isEmpty(databangunan)}">
                    <div class="row">
                        <div class="col-12">
                            <div class="invoice p-3 mb-3" style="border-top:3px solid #dc3545;">
                                <div class="row invoice-info">
                                    <div class="col-sm-6 invoice-col border-right">
                                        <h5>DATA BANGUNAN</h5>
                                        <hr>
                                        <address th:each="v, p : ${databangunan}">
                                            <div class="row">
                                                <div class="col-5" th:text="'Luas Bangunan Ke-'+${p.index+1}"></div>
                                                <div class="col-1">:</div>
                                                <div class="col-6"><b th:text="${v.luasBangunan}"></b> (M<sup>2</sup>)
                                                </div>
                                            </div>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                <div th:unless="${pelayanan.idJenisPelayanan==4}" class="row">-->
                    <!--                    <div class="col-12">-->
                    <!--                        <div class="invoice p-3 mb-3" style="border-top:3px solid #dc3545;">-->
                    <!--                            <div class="row invoice-info">-->

                    <!--                                <div class="col-sm-6 invoice-col border-right">-->
                    <!--                                    <h5>DATA BANGUNAN</h5>-->
                    <!--                                    <hr>-->
                    <!--                                    <address>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Jenis Penggunaan Bangunan</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.jenisPenggunaanBangunan}"></b>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Jumlah Lantai</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.jumlahLantai}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Tahun Bibangunan</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.tahunBanguanan}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Tahun Direnovasi</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.tahunRenovasi}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Kondisi Pada Umumnya</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.kondisiBangunan}"></b></div>-->
                    <!--                                            <div class="col-5">Konstruksi</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.Konstruksi}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Atap</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.atap}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Dinding</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.dinding}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Lantai</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.lantai}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">LAngit-Langit</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.langitLangit}"></b></div>-->
                    <!--                                        </div>-->

                    <!--                                    </address>-->
                    <!--                                </div>-->
                    <!--                                <div class="col-sm-6 invoice-col border-right">-->
                    <!--                                    <h5>FASILITAS</h5>-->
                    <!--                                    <hr>-->
                    <!--                                    <address>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">AC Split</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.acSplit}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">AC Window</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.acWindow}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Panjang Pagar (M)</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.panjangPagar}"></b></div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-5">Bahan Pagar</div>-->
                    <!--                                            <div class="col-1">:</div>-->
                    <!--                                            <div class="col-6"><b th:text="${databangunan.bahanPagar}"></b></div>-->

                    <!--                                        </div>-->
                    <!--                                    </address>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-danger card-outline">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5>Persyaratan Permohonan Pelayanan</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 4rem;">No.</th>
                                                <th>Jenis Persyaratan</th>
                                                <th>File Persyaratan</th>
                                                <th>Unduh File</th>
                                            </tr>
                                        </thead>
                                        <tbody id="uploadedFiles">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal form-validation" method="post" th:action="@{/validasi-final/save}">
                    <input type="hidden" name="idPelayanan" id="idPelayanan" th:value="${pelayanan.idPelayanan}">
                    <input type="hidden" name="idValidasi" id="idValidasi" th:value="${validasi.idValidasi}">
                    <input type="hidden" name="idStatusValidasiFinal" id="idStatusValidasiFinal" th:value="${validasiFinal.idStatusValidasiFinal}">
                    <input type="hidden" id="idJenisPelayanan" name="idJenisPelayanan" th:value="${pelayanan.idJenisPelayanan}">
                    <input type="hidden" id="idJenisPajak" name="idJenisPajak" th:value="${pelayanan.idJenisPajak}">
                    <input type="hidden" id="nikPemohon" name="nikPemohon" th:value="${pelayanan.nikPemohon}">
                    <input type="hidden" id="nop" name="nop" th:value="${pelayanan.nop}">
                    <input type="hidden" id="nikWP" name="nikWP" th:value="${(#lists.size(wajibPajak) > 0) ? wajibPajak[0].nikWP : ''}">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-danger card-outline">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h5>Persetujuan Validasi</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-justify">Berdasarkan informasi yang sudah diajukan diatas Apakah anda selaku validator menyetujui permohonan pelayanan ini ? Jika anda sudah menyetujui permohonan ini maka tidak dapat dilakukan perubahan lagi.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-12 d-flex justify-content-between">
                                        <button type="button" class="btn btn-danger" id="btnReject" data-toggle="modal" data-target="#modal-cancel">
                                            <i class="fas fa-times-circle"></i> Tolak Permohonan
                                        </button>
                                        <div class="modal fade" id="modal-cancel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-danger">
                                                        <h6 class="modal-title"><span class="fas fa-exclamation"></span> &nbsp;TOLAK PENGAJUAN PERMOHONAN ?</h6>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Apakah anda yakin ingin menolak pengajuan data permohonan tersebut?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span
                                                                class="fas fa-times-circle"></span>
                                                            &nbsp;Tutup
                                                        </button>
                                                        <button type="submit" class="btn btn-danger btn-sm"><span
                                                                class="fas fa-exclamation"></span> &nbsp;IYA
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-primary float-right" id="btnApprove" style="margin-right: 5px;" data-toggle="modal" data-target="#modal-save">
                                            <i class="fas fa-check-circle"></i> Terima Permohonan
                                        </button>
                                        <div class="modal fade" id="modal-save">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-primary">
                                                        <h6 class="modal-title"><span class="fas fa-send"></span> &nbsp;TERIMA PERMOHONAN PELAYANAN</h6>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Apakah anda ingin menerima permohonan layanan ini?</p>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span
                                                                class="fas fa-times-circle"></span>
                                                            &nbsp;Tutup
                                                        </button>
                                                        <button type="submit" class="btn btn-primary btn-sm"><span
                                                                class="fas fa-check"></span> &nbsp;IYA
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="modal-image">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h6 class="modal-title" id="modal-image-title">&nbsp;FILE PERSYARATAN</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center" id="imagePlaceholder">

                            </div>
                            <div class="modal-footer justify-content-between">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h6 class="modal-title"><span class="fas fa-trash"></span> &nbsp;HAPUS DATA ?</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin ingin menghapus data sebagai berikut?</p>
                                <div class="row">
                                    <div class="col-sm-4">Dokumen Pendukung</div>
                                    <div class="col-sm-8">
                                        <input type="hidden" id="delete-idUploadDokumenPendukung">
                                        <input type="hidden" id="delete-element-id">
                                        <textarea type="text" class="form-control form-control-sm" id="delete-namaDokumenPendukung" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span
                                        class="fas fa-times-circle"></span> Tutup
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" disabled id="btnHapusDokumenPendukung"><span class="fas fa-trash"></span> Hapus
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-SudahAjukan">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h6 class="modal-title"><span class="fas fa-exclamation"></span> &nbsp;PEMBERITAHUAN
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="tbodyMessages">
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal"><span
                                        class="fas fa-check"></span>
                                    &nbsp;OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <div layout:fragment="js">
        <script type="text/javascript">
            $(function() {
                updateUploadedFiles($("#idPelayanan").val());
                updateUploadedDokumenPendukung();
            })

            $("#btnReject").click(function() {
                $("#idStatusValidasiFinal").val(3);
            })

            $("#btnApprove").click(function() {
                $("#idStatusValidasiFinal").val(2);
            })

            function showImage(img) {
                var link = $(img).attr("link");
                var name = $(img).attr("name");
                $("#modal-image-title").text(name);
                var image = $('<img style="max-height:100%; max-width:100%;">');
                image.attr("src", link);
                $("#imagePlaceholder").html(image);
                $("#modal-image").modal('show');
                return false;
            }

            function findIdDokumenPendukung(idDokumenPendukung) {
                var id = 0;
                $(".id-dokumen-pendukung").each(function() {
                    if ($(this).val() == idDokumenPendukung) {
                        id = $(this).data("id");
                    }
                })
                return id;
            }

            function showDeleteDialog(id) {
                $("#modal-delete").modal('show');
                var idUpload = $("#idUploadDokumenPendukung" + id).val();
                $.get("/upload-dokumen-pendukung/by-id-upload/" + idUpload).then(function(data) {
                    $("#btnHapusDokumenPendukung").removeAttr("disabled");
                    $("#delete-idUploadDokumenPendukung").val(idUpload);
                    $("#delete-element-id").val(id);
                    $("#delete-namaDokumenPendukung").text(data.dokumenPendukung.namaDokumenPendukung);
                });
            }

            $("#btnHapusDokumenPendukung").click(function() {
                $.post('/upload-dokumen-pendukung/delete', {
                    idUploadDokumenPendukung: $("#delete-idUploadDokumenPendukung").val()
                }).then(function() {
                    var id = $("#delete-element-id").val();
                    $("#idUploadDokumenPendukung" + id).val('');
                    $("#noDokumen" + id).val('');
                    $("#noDokumen" + id).removeAttr("readonly");
                    $("#tglDokumen" + id).val('');
                    $("#keteranganDokumen" + id).val('');
                    $("#keteranganDokumen" + id).removeAttr("readonly");
                    $("#file" + id).val('');
                    $("#file" + id).removeClass('d-none');
                    $("#btnSimpan" + id).addClass('disabled');
                    $("#btnSimpan" + id).attr("aria-disabled", "true");
                    $("#btnSimpan" + id).removeClass('d-none');
                    $("#btnDownload" + id).addClass('d-none');
                    $("#btnDeleteDokumenPendukung" + id).addClass('d-none');
                    updateUploadedDokumenPendukung();
                    $("#modal-delete").modal('hide');
                })
            })

            function updateUploadedDokumenPendukung() {
                var idPelayanan = $("#idPelayanan").val();
                $.get("/upload-dokumen-pendukung/" + idPelayanan).then(function(data) {
                    data.forEach(file => {
                        var id = findIdDokumenPendukung(file.idDokumenPendukung);
                        if (id > 0) {
                            $("#idUploadDokumenPendukung" + id).val(file.idUploadDokumenPendukung);
                            $("#noDokumen" + id).val(file.nomorDokumen);
                            $("#noDokumen" + id).attr("readonly", "readonly");
                            $("#tglDokumen" + id).val(file.tanggalDokumen);
                            $("#keteranganDokumen" + id).text(file.keterangan);
                            $("#keteranganDokumen" + id).attr("readonly", "readonly");
                            $("#file" + id).addClass('d-none');
                            $("#btnDownload" + id).attr("href", file.lokasiFile);
                            $("#btnDownload" + id).removeClass('d-none');
                            $("#btnDeleteDokumenPendukung" + id).removeClass('d-none');
                            $("#btnSimpan" + id).addClass('d-none');
                        }
                    })
                });
            }

            function updateUploadedFiles(idPelayanan) {
                $.get("/upload-file/" + idPelayanan).then(function(data) {
                    $("#uploadedFiles").html('');
                    var no = 1;
                    data.forEach(file => {
                        var tr = '<tr>' +
                            '<td style="text-align: center">' + no + '</td>' +
                            '<td>' + file.namaPersyaratan + '</td>' +
                            '<td><a href="#" link="' + file.lokasiFile + '" name="' + file.namaPersyaratan + '" onclick="showImage(this)">' + file.namaFile + '</a></td>' +
                            '<td><a href="' + file.lokasiFile + '">' + "Unduh" + '</td>' +
                            '</tr>';
                        $("#uploadedFiles").append(tr);
                        no++;
                    })

                });
            }

            function doUpload(id) {
                var data = new FormData();
                data.append("idUploadDokumenPendukung", $("#idUploadDokumenPendukung" + id).val());
                data.append("idDokumenPendukung", $("#idDokumenPendukung" + id).val());
                data.append("noDokumen", $("#noDokumen" + id).val());
                data.append("tglDokumen", $("#tglDokumen" + id).val());
                data.append("keterangan", $("#keteranganDokumen" + id).val());
                data.append("idPelayanan", $("#idPelayanan").val());

                var files = $("#file" + id)[0].files;
                $.each(files, function(i, file) {
                    data.append("file", file);
                });

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/upload-dokumen-pendukung",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function(data) {
                        updateUploadedDokumenPendukung();
                    },
                    error: function(e) {
                        console.log("ERROR : ", e);
                    }
                });
            }

            var jenisPelayanan = $("#idJenisPelayanan").val();
            if (jenisPelayanan == 1) {
                cekPermohonanSebelumnyaOPbaru();
            } else {
                cekPermohonanSebelumnya();
            }

            function cekPermohonanSebelumnya() {
                $.get("/pelayanan/pengajuan-sebelumnya/" + $("#nikPemohon").val() + "/" + $("#idJenisPelayanan").val() + "/" + $("#idJenisPajak").val() + "/" + $("#nop").val())
                    .then(function(res) {
                        var data = res.data;
                        var tbodyMessages = "";
                        $("#tbodyMessages").html("");

                        if (data.idPelayanan != $("#idPelayanan").val()) {

                            tbodyMessages = '<div class="col-12">' +
                                '<div class="alert alert-info alert-dismissible">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                'Permohonan ini sudah pernah direkam / diajukan sebelumnya, dengan data sebagai berikut:' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">No. Pelayanan</label>' +
                                '<div class="col-sm-8"> : <strong class="text-blue">' + data.noPelayanan + '</strong> </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">NIK Pemohon</label>' +
                                '<div class="col-sm-8"> : ' + data.nikPemohon + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Nama Pemohon</label>' +
                                '<div class="col-sm-8"> : ' + data.namaPemohon + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">NOP</label>' +
                                '<div class="col-sm-8"> : ' + data.nop + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Jenis Pelayanan</label>' +
                                '<div class="col-sm-8"> : ' + data.jenisPelayanan + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Jenis Pajak</label>' +
                                '<div class="col-sm-8"> : ' + data.jenisPajak + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Status Permohonan</label>' +
                                '<div class="col-sm-8"> : <span class="btn btn-sm bg-warning">' + data.statusPermohonan + '</span> </div>' +
                                '</div>' +
                                '</div>';

                            $("#modal-SudahAjukan").modal("show");

                        }
                        $("#tbodyMessages").append(tbodyMessages);
                    });
            }

            function cekPermohonanSebelumnyaOPbaru() {
                $.get("/pelayanan/pengajuan-sebelumnya-opbaru/" + $("#nikPemohon").val() + "/" + $("#idJenisPelayanan").val() +
                        "/" + $("#idJenisPajak").val() + "/" + $("#nikWP").val())
                    .then(function(res) {
                        var data = res.data;
                        var tbodyMessages = "";
                        $("#tbodyMessages").html("");

                        if (data.idPelayanan != $("#idPelayanan").val()) {
                            tbodyMessages = '<div class="col-12">' +
                                '<div class="alert alert-info alert-dismissible">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                'Permohonan ini sudah pernah direkam / diajukan sebelumnya, dengan data sebagai berikut:' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">No. Pelayanan</label>' +
                                '<div class="col-sm-8"> : <strong class="text-blue">' + data.noPelayanan + '</strong> </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">NIK Pemohon</label>' +
                                '<div class="col-sm-8"> : ' + data.nikPemohon + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Nama Pemohon</label>' +
                                '<div class="col-sm-8"> : ' + data.namaPemohon + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">NIK Wajib Pajak <small class="text-blue">(Baru)</small></label>' +
                                '<div class="col-sm-8"> : ' + data.nikWp + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Nama WP <small class="text-blue">(Baru)</small></label>' +
                                '<div class="col-sm-8"> : ' + data.namaWp + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Jenis Pelayanan</label>' +
                                '<div class="col-sm-8"> : ' + data.jenisPelayanan + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Jenis Pajak</label>' +
                                '<div class="col-sm-8"> : ' + data.jenisPajak + ' </div>' +
                                '</div>' +
                                '<div class="form-group-sm row">' +
                                '<label class="col-sm-4 col-form-label-sm">Status Permohonan</label>' +
                                '<div class="col-sm-8"> : <span class="btn btn-sm bg-warning">' + data.statusPermohonan + '</span> </div>' +
                                '</div>' +
                                '</div>';

                            $("#modal-SudahAjukan").modal("show");
                        }
                        $("#tbodyMessages").append(tbodyMessages);
                    });
            }
        </script>
        <th:block th:switch="${pelayanan.jenisPajak.idKategoriPajak}">
            <th:block th:case="'2'">
                <script data-th-replace="pelayanan/common/data-objek/__${pelayanan.jenisPelayanan.alias}__ :: js"></script>
            </th:block>
        </th:block>
    </div>
</body>

</html>
