<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kepoin || Validasi Final</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <section>
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item active">Validasi Final</li>
                            </ol>
                        </section>
                    </div>
                    <div class="col-12">
                        <div class="info-box callout callout-danger" id="background2" style="background: url('/static/images/bgpelayanan.gif') #fff no-repeat center center;
                            -moz-background-size: cover;
                            -o-background-size: cover;
                            background-size: cover;">
                            <div class="col-sm-6">
                                <div class="" style="float: left;">
                                    <h5 class="">Validasi Final Pelayanan</h5>
                                    <span class="float">Menu untuk memvalidasi pengajuan pelayanan apakah diterima atau
                                        ditolak.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-info elevation-1"><i
                                        class="fas fa-hands-helping"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Pengajuan</span>
                                    <span class="info-box-number" th:text="${totalPermohonan}"></span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- fix for small devices only -->
                        <div class="clearfix hidden-md-up"></div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"><i
                                        class="fas fa-clipboard-check"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Belum Divalidasi</span>
                                    <span class="info-box-number" th:text="${totalVerifikasi}"></span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-warning elevation-1"><i
                                        class="fas fa-check-circle"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Divalidasi</span>
                                    <span class="info-box-number" th:text="${totalValidasi}"></span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="card card-danger card-outline card-outline-tabs">
                        <div class="card-header p-0 border-bottom-0">
                            <ul class="nav nav-tabs" id="datagrid-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="datagrid-belum-tab" data-toggle="pill" href="#datagrid-belum" role="tab" aria-controls="datagrid-belum" aria-selected="true">Belum</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="datagrid-sudah-tab" data-toggle="pill" href="#datagrid-sudah" role="tab" aria-controls="datagrid-sudah" aria-selected="false">Sudah</a>
                                </li>
                            </ul>

                        </div>

                        <div class="card-body">
                            <div class="tab-content" id="datagrid-tab-content">
                                <div data-th-replace="validasi-final/datagrid/belum :: tab-panel"></div>
                                <div data-th-replace="validasi-final/datagrid/sudah :: tab-panel"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-cetak">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h6 class="modal-title"><span class=""></span> &nbsp;Pilih Pejabat Mengetahui</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <p>Pilih Pejabat Mengetahui</p>

                            <div class="row">
                                <input type="hidden" class="form-control form-control-sm" id="idPelayanan" readonly>
                                <div class="col-sm-4">Mengetahui</div>
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" id="ttd">

                                        <option th:each="datapegawai: ${datapegawai}"
                                            th:text="${datapegawai.namaPegawai + ' - ' + datapegawai.jabatanPegawai}"
                                            th:value="${datapegawai.idPegawai}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span
                                    class="fas fa-times-circle"></span> batal</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="cetak()"><span
                                    class="fas fa-print"></span> Cetak</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <div layout:fragment="js">
        <script th:inline="javascript" data-th-replace="validasi-final/datagrid/belum :: js"></script>
        <script th:inline="javascript" data-th-replace="validasi-final/datagrid/sudah :: js"></script>
    </div>
</body>

</html>