<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="col-12" data-th-fragment="data">
        <div class="card" style="border-top: 5px solid #bd2130;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="invoice p-3 mb-3">
                            <div class="row invoice-info">
                                <div class="col-sm-6 invoice-col border-right">
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/objek-pajak :: data">
                                    </th:block>
                                </div>
                                <div class="col-sm-6 invoice-col">
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/wajib-pajak :: data">
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" data-th-fragment="verlap">
        <div class="card" style="border-top: 5px solid #bd2130;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-weight: bold">DATA OBJEK PAJAK (HASIL PENELITIAN)</p>
                        <hr>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">NOP Terdekat</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm masked-nop" id="nopTerdekat" name="nopTerdekat" th:value="${@appHelper.getPrefixNOP()+objekPajak[0].kodeKecamatan+objekPajak[0].kodeKelurahan}" required>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm"></label>
                            <div class="col-sm-8">
                                <b style="color: red;">*) Isi NOP terdekat untuk bisa memilih kode blok dan kode znt</b>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">RT</label>
                            <div class="col-sm-2">
                                <input type="hidden" id="idOP" name="idOP" th:value="${objekPajak[0].idOP}">
                                <input type="text" class="form-control form-control-sm masked-number-3" id="rtOP" name="rtOP" th:value="${objekPajak[0].rtOP}">
                            </div>
                            <label class="col-sm-2 col-form-label-sm">RW</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm masked-number-3" id="rwOP" name="rwOP" th:value="${objekPajak[0].rwOP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Jalan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="jalanOP" name="jalanOP" th:value="${objekPajak[0].jalanOP}">
                            </div>
                        </div>

                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="kodeKecamatan" name="kodeKecamatan">
                                    <option value="">Silahkan Pilih</option>
                                    <option th:each="kec: ${kecamatan}" th:value="${kec.kodeKecamatan}"
                                        th:selected="${kec.kodeKecamatan==objekPajak[0].kodeKecamatan}"
                                        th:text="${kec.kodeKecamatan + ' - ' + kec.namaKecamatan}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kelurahan/Desa</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="kodeKelurahan" name="kodeKelurahan">
                                    <option value="">Silahkan Pilih</option>
                                    <option th:each="kel: ${kelurahan}" th:value="${kel.kodeKelurahan}"
                                        th:selected="${kel.kodeKelurahan==objekPajak[0].kodeKelurahan}"
                                        th:text="${kel.kodeKelurahan + ' - ' + kel.namaKelurahan}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Keterangan Objek Pajak <span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-8" >
                                <select class="form-control" name="kodeLookUpItem" id="kodeLookUpItem">
                                    <option value="">Silahkan Pilih</option>
                                    <option th:each="keteranganOPList: ${keteranganOP}"
                                            th:value="${keteranganOPList.kodeLookUpItem}"
                                            th:selected="${(not #lists.isEmpty(objekPajak)) ? keteranganOPList.kodeLookUpItem==#strings.toString(objekPajak[0].kodeLookUpItem) : 0}"
                                            th:text="${keteranganOPList.namaLookUpItem}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kode Blok</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="kodeBlok" name="kodeBlok" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kode ZNT</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="kodeZNT" name="kodeZNT" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kelas Tanah</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="kelasTanah" name="kelasTanah" required>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Jenis Tanah <span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-control" name="jenisTanah" id="jenisTanah">
                                    <option value="">Silahkan Pilih</option>
                                    <option th:each="jenisTanah: ${jenisTanahList}"
                                        th:value="${jenisTanah.kodeLookUpItem}"
                                        th:selected="${jenisTanah.kodeLookUpItem==#strings.toString(objekPajak[0].jenisTanah)}"
                                        th:text="${jenisTanah.namaLookUpItem}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Luas Tanah (M<sup>2</sup>) <span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="luasTanah" name="luasTanah" required th:value="${objekPajak[0].luasTanah}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p style="font-weight: bold">DATA WAJIB PAJAK (HASIL PENELITIAN)</p>
                        <hr>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">NIK <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="hidden" id="idWP" name="idWP" th:value="${wajibPajak[0].idWP}">
                                <input type="text" class="form-control form-control-sm masked-nik" id="nikWP" name="nikWP" required th:value="${wajibPajak[0].nikWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Nama <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="namaWP" name="namaWP" required th:value="${wajibPajak[0].namaWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">RT</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm masked-number-3" id="rtWP" name="rtWP" th:value="${wajibPajak[0].rtWP}">
                            </div>
                            <label class="col-sm-2 col-form-label-sm">RW</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control form-control-sm masked-number-3" id="rwWP" name="rwWP" th:value="${wajibPajak[0].rwWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Jalan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="jalanWP" name="jalanWP" th:value="${wajibPajak[0].jalanWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kelurahan/Desa</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="kelurahanWP" name="kelurahanWP" th:value="${wajibPajak[0].kelurahanWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="kecamatanWP" name="kecamatanWP" th:value="${wajibPajak[0].kecamatanWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Kabupaten/Kota</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="kabupatenWP" name="kabupatenWP" th:value="${wajibPajak[0].kabupatenWP}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">No. Telp<span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control form-control-sm" id="noHpWP" name="noHpWP" th:value="${(not #lists.isEmpty(wajibPajak)) ? wajibPajak[0].noHpWP : ''}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">NPWPD<span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="npwpd" name="npwpd" th:value="${(not #lists.isEmpty(wajibPajak)) ? wajibPajak[0].npwpd : ''}">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-sm-4 col-form-label-sm">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="email" name="email" th:value="${(not #lists.isEmpty(wajibPajak)) ? wajibPajak[0].email : ''}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div data-th-fragment="hasil">
        <div class="form-group">
            <label>No. SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="noSHM" required>
        </div>
        <div class="form-group">
            <label>Tgl. SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4 datepicker-date" name="tglSHM" required readonly>
        </div>
        <div class="form-group">
            <label>Luas Tanah di SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="luasTanahSHM" required>
        </div>
        <div class="form-group">
            <label>Atas Nama di SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="atasNamaSHM" required>
        </div>
        <div class="form-group">
            <label>Tempat Penelitian</label>
            <textarea class="form-control" name="tempatPenelitian" required></textarea>
        </div>
    </div>

    <div data-th-fragment="hasil-read-only">
        <div class="form-group">
            <label>NOP Terdekat</label>
            <input type="text" class="form-control form-control-sm" name="nopTerdekat" th:value="${hasilVerlapOpBaru.nopTerdekat}" readonly>
        </div>
        <div class="form-group">
            <label>No. SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="noSHM" th:value="${hasilVerlapOpBaru.noSHM}" readonly>
        </div>
        <div class="form-group">
            <label>Tgl. SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="tglSHM" th:value="${hasilVerlapOpBaru.tglSHM}" readonly>
        </div>
        <div class="form-group">
            <label>Luas Tanah di SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="luasTanahSHM" th:value="${hasilVerlapOpBaru.luasTanahSHM}" readonly>
        </div>
        <div class="form-group">
            <label>Atas Nama di SHM/Surat Ukur/Dokumen Tanah</label>
            <input type="text" class="form-control col-md-4" name="atasNamaSHM" th:value="${hasilVerlapOpBaru.atasNamaSHM}" readonly>
        </div>
        <div class="form-group">
            <label>Tempat Penelitian</label>
            <textarea class="form-control" name="tempatPenelitian" th:text="${hasilVerlap.tempatPenelitian}" readonly></textarea>
        </div>
    </div>

    <div data-th-fragment="bangunan" th:unless="${#lists.isEmpty(databangunan)}" class="col-md-12">
        <div class="card card-danger card-outline" style="border-top: 5px solid #bd2130;">
            <div class="card-header">
                <div class="card-title">
                    <h5>DATA BANGUNAN (HASIL PENELITIAN)</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12" th:each="bangunan, key: ${databangunan}">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h4 class="card-title" th:text="${'Bangunan No. ' + bangunan.nomorBangunan}"></h4>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="font-weight: bold">RINCIAN DATA BANGUNAN</p>
                                    <hr>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Jenis Penggunaan
                                            Bangunan</label>
                                        <div class="col-sm-4 ">
                                            <input type="hidden" th:name="${'idDetailBangunan['+key.index+']'}" th:value="${bangunan.idDetailBangunan}">
                                            <input type="hidden" th:name="${'nomorBangunan['+key.index+']'}" th:value="${bangunan.nomorBangunan}">
                                            <select class="form-control form-control-sm" th:name="${'jenisPenggunaanBangunan['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.jenisPenggunaanBangunan=='Perumahan'}"
                                                    value="Perumahan"> Perumahan
                                                </option>
                                                <option
                                                    th:selected="${bangunan.jenisPenggunaanBangunan=='Toko/Apotik/Pasar/Ruko'}"
                                                    value="Toko/Apotik/Pasar/Ruko">
                                                    Toko/Apotik/Pasar/Ruko
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Luas Bangunan <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-sm" th:name="${'luasBangunan['+key.index+']'}" th:value="${bangunan.luasBangunan}">
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Jumlah Lantai <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" maxlength="4" class="form-control form-control-sm" th:name="${'jumlahLantai['+key.index+']'}" th:value="${bangunan.jumlahLantai}">
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Tahun Dibangun <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" maxlength="4" class="form-control form-control-sm" th:name="${'tahunBangunan['+key.index+']'}" th:value="${bangunan.tahunBangunan}">
                                        </div>

                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Tahun Direnovasi</label>
                                        <div class="col-sm-4">
                                            <input type="text" maxlength="4" class="form-control form-control-sm" th:name="${'tahunRenovasi['+key.index+']'}" th:value="${bangunan.tahunRenovasi}">
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Kondisi Pada Umumnya <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'kondisiBangunan['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.kondisiBangunan=='SANGAT BAIK'}"
                                                    value="SANGAT BAIK"> Sangat Baik
                                                </option>
                                                <option th:selected="${bangunan.kondisiBangunan=='BAIK'}" value="BAIK">
                                                    Baik
                                                </option>
                                                <option th:selected="${bangunan.kondisiBangunan=='SEDANG'}"
                                                    value="SEDANG"> Sedang
                                                </option>
                                                <option th:selected="${bangunan.kondisiBangunan=='JELEK'}"
                                                    value="JELEK"> Jelek
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Konstruksi <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'konstruksi['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.konstruksi=='BAJA'}" value="BAJA"> Baja
                                                </option>
                                                <option th:selected="${bangunan.konstruksi=='BETON'}" value="BETON">
                                                    Beton
                                                </option>
                                                <option th:selected="${bangunan.konstruksi=='BATU BATA'}"
                                                    value="BATU BATA"> Batu Bata
                                                </option>
                                                <option th:selected="${bangunan.konstruksi=='KAYU'}" value="KAYU"> Kayu
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Atap <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'atap['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.atap=='DECRABON/BETON/GTG GLAZUR'}"
                                                    value="DECRABON/BETON/GTG GLAZUR"> Decrabon/Beton
                                                    Gtg
                                                    Glazur
                                                </option>
                                                <option th:selected="${bangunan.atap=='GTG BETON/ALUMUNIUM'}"
                                                    value="GTG BETON/ALUMUNIUM"> Gtg Beton/Alumunium
                                                </option>
                                                <option th:selected="${bangunan.atap=='GTG BIASA/SIRAP'}"
                                                    value="GTG BIASA/SIRAP"> Gtg Biasa/Sirap
                                                </option>
                                                <option th:selected="${bangunan.atap=='ASBES'}" value="ASBES"> Asbes
                                                </option>
                                                <option th:selected="${bangunan.atap=='SENG'}" value="SENG">
                                                    Seng
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Dinding <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'dinding['+key.index+']'}" required>
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.dinding=='KACA/ALUMUNIUM'}"
                                                    value="KACA/ALUMUNIUM"> Kaca/Alumunium
                                                </option>
                                                <option th:selected="${bangunan.dinding=='BETON'}" value="BETON"> Beton
                                                </option>
                                                <option th:selected="${bangunan.dinding=='BATU BATA/CONBLOK'}"
                                                    value="BATU BATA/CONBLOK"> Batu Bata/Conblok
                                                </option>
                                                <option th:selected="${bangunan.dinding=='KAYU'}" value="KAYU"> Kayu
                                                </option>
                                                <option th:selected="${bangunan.dinding=='SENG'}" value="SENG"> Seng
                                                </option>
                                                <option th:selected="${bangunan.dinding=='TIDAK ADA'}"
                                                    value="TIDAK ADA"> Tidak Ada
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Lantai <span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'lantai['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.lantai=='MARMER'}" value="MARMER">
                                                    Marmer
                                                </option>
                                                <option th:selected="${bangunan.lantai=='KERAMIK'}" value="KERAMIK">
                                                    Keramik
                                                </option>
                                                <option th:selected="${bangunan.lantai=='TERASO'}" value="TERASO">
                                                    Teraso
                                                </option>
                                                <option th:selected="${bangunan.lantai=='UBIN PC/PAPAN'}"
                                                    value="UBIN PC/PAPAN"> Ubin PC/Papan
                                                </option>
                                                <option th:selected="${bangunan.lantai=='SEMEN'}" value="SEMEN"> Semen
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Langit-Langit<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-4 ">
                                            <select class="form-control form-control-sm" th:name="${'langitLangit['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.langitLangit=='AKUSTIK/JATI'}"
                                                    value="AKUSTIK/JATI"> Akustik/Jati
                                                </option>
                                                <option th:selected="${bangunan.langitLangit=='TRIPLEK/ASBES BAMBU'}"
                                                    value="TRIPLEK/ASBES BAMBU"> Triplek/Asbes/Bambu
                                                </option>
                                                <option th:selected="${bangunan.langitLangit=='TIDAK ADA'}"
                                                    value="TIDAK ADA"> Tidak Ada
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <p style="font-weight: bold">FASILITAS</p>
                                    <hr>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Jumlah AC SPlit</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" th:name="${'acSplit['+key.index+']'}" th:value="${bangunan.acSplit}">

                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Jumlah AC Window</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" id="acWindow" th:name="${'acWindow['+key.index+']'}" th:value="${bangunan.acWindow}">
                                        </div>
                                    </div>
                                    <div class="form-group-sm row">
                                        <label class="col-sm-4 col-form-label-sm">Panjang Pagar (M)</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" th:name="${'panjangPagar['+key.index+']'}" th:value="${bangunan.panjangPagar}">
                                        </div>
                                        <label class="col-sm-2 col-form-label-sm">Bahan Pagar</label>
                                        <div class="col-sm-3">
                                            <select class="form-control form-control-sm" th:name="${'bahanPagar['+key.index+']'}">
                                                <option value=""> ---Silahkan Pilih---</option>
                                                <option th:selected="${bangunan.bahanPagar=='BAJA/BESI'}"
                                                    value="BAJA/BESI"> Baja/Besi
                                                </option>
                                                <option th:selected="${bangunan.bahanPagar=='BATA/BATAKO'}"
                                                    value="BATA/BATAKO"> Bata/Batako
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
<th:block data-th-fragment="js">
    <script>
        $("#nopTerdekat").keyup(debounce(function() {
            const nop = $("#nopTerdekat").val();
            if (nop.length == 24) {
                $.get('/verifikasi-lapangan/nop/' + nop).then(function(response) {
                    if (response.data) {
                        $("#kodeBlok").find('option').remove();
                        response.data.kodeBlokList.forEach((blok) => {
                            let selected = (blok == response.data.kodeBlok) ? ' selected="selected" ' : '';
                            $("#kodeBlok").append('<option ' + selected + ' value="' + blok + '">' + blok + '</option>');
                        })
                        response.data.kodeZNTList.forEach((znt) => {
                            let selected = (znt == response.data.kodeZNT) ? ' selected="selected" ' : '';
                            $("#kodeZNT").append('<option ' + selected + ' value="' + znt + '">' + znt + '</option>');
                        })
                    }
                });
            }

        }, 250))

        $('#kodeKecamatan').change(function() {
            $.get('/pelayanan/kelurahan/' + $(this).val()).then(function(response) {
                let kelurahan = response.data;
                if (kelurahan) {
                    $("#kodeKelurahan").find('option').remove().end().append('<option value="">Silahkan Pilih</option>');
                    kelurahan.forEach((kel) => {
                        $("#kodeKelurahan").append('<option value="' + kel.kodeKelurahan + '">' + kel.kodeKelurahan + ' - ' + kel.namaKelurahan + '</option>');
                    })
                }
            })
        })
    </script>
</th:block>

</html>