<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-12" data-th-fragment="data">
    <div class="card" style="border-top: 5px solid #bd2130;">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="invoice p-3 mb-3">
                        <div class="row invoice-info">
                            <div class="col-sm-6 invoice-col border-right">
                                <h5>Data Objek Pajak</h5>
                                <hr>
                                <address>
                                    <div class="row">
                                        <div class="col-5">NOP</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b th:text="${pelayanan.nop}"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Jalan</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="jalanOP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Rt</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="rtOP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Rw</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="rwOP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Blok/No/Kav</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b>-</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kelurahan/Desa</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="kelurahanOP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kecamatan</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="kecamatanOP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Luas Tanah (M<sup>2</sup>)</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="luasTanah"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Luas Bangunan (M<sup>2</sup>)</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="luasBangunan"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Pajak (Rp)</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="pajakPBB"></b></div>
                                    </div>
                                </address>
                            </div>
                            <div class="col-sm-6 invoice-col">
                                <h5>Data Wajib Pajak</h5>
                                <hr>
                                <address>
                                    <div class="row">
                                        <div class="col-5">Nama</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="namaWP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Jalan</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="jalanWP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Rt</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="rtWP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Rw</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="rwWP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kelurahan/Desa</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="kelurahanWP"></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kecamatan</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b></b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">Kabupaten/Kota</div>
                                        <div class="col-1">:</div>
                                        <div class="col-6"><b id="kabupatenWP"></b></div>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript" data-th-fragment="js">
    function getDataNopTahun(){
        $.get("/sppt/"+ [[${pelayanan.nop}]] +"/"+ [[${pelayanan.tahunPajak}]])
         .then(function(res){
         var data = res.data;

         $("#jalanOP").html(data.jalanOP);
         $("#rtOP").html(data.rtOP);
         $("#rwOP").html(data.rwOP);
         $("#blokNoOP").html(data.blokNoOP);
         $("#kecamatanOP").html(data.kecamatanOP);
         $("#kelurahanOP").html(data.kelurahanOP);

         $("#luasTanah").html(data.luasTanah);
         $("#luasBangunan").html(data.luasBangunan);

         $("#pajakPBB").html(formatMoney(data.pajakPBB));
         $("#sanksiAdministrasi").html(formatMoney(data.sanksiAdministrasi));

         $(".tglJatuhTempo").html(data.tglJatuhTempo);

         $("#namaWP").html(data.namaWP);
         $("#jalanWP").html(data.jalanWP);
         $("#rtWP").html(data.rtWP);
         $("#rwWP").html(data.rwWP);
         $("#kelurahanWP").html(data.kelurahanWP);
         $("#kabupatenWP").html(data.kabupatenWP);

        });
     }
     getDataNopTahun();
</script>
</html>