<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="col-12" data-th-fragment="data">
        <div class="card" style="border-top: 5px solid #bd2130;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="invoice p-3 mb-3">
                            <div class="row invoice-info">
                                <div class="col-sm-6 invoice-col border-right">
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/objek-pajak-lama :: data">
                                    </th:block>
                                    <hr>
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/wajib-pajak-lama :: data">
                                    </th:block>
                                </div>
                                <div class="col-sm-6 invoice-col">
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/objek-pajak :: data">
                                    </th:block>
                                    <hr>
                                    <th:block data-th-replace="pelayanan/common/data-objek/pbb/wajib-pajak :: data">
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-th-fragment="bangunan" th:unless="${#lists.isEmpty(databangunan)}" class="col-md-12">
        <div class="card card-danger card-outline" style="border-top: 5px solid #bd2130;">
            <div class="card-header">
                <div class="card-title">
                    <h5>DATA BANGUNAN</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Luas Bangunan (m<sup>2</sup>)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="bangunan: ${databangunan}">
                                <td class="text-center" th:text="${bangunan.nomorBangunan}"></td>
                                <td class="text-right" th:text="${bangunan.luasBangunan}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block data-th-fragment="js"></th:block>

</html>